@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Curso Web MVC</h1>
    <br>
    <p>Projeto desenvolvido com base nos cursos propostos pela Digital Innovation One.</p>
</div>
